@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

:root{
  --background-main-dark: #19191C;
  --background-second-dark:#252529;
  --background-main-light: #e4e4e4;
  --text-main-light: #ececec;
  --text-main-dark: #0f0f0f;
  --main-color: #4fb6d7;
  --background-second-light: #c4c4c4;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.body-main.theme-dark {
  background-color: var(--background-main-dark);
  color: var(--text-main-light);
}
.body-main.theme-light {
  background-color: var(--background-main-light);
  color: var(--text-main-dark);
}

.header-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-main-dark);
  z-index: 100;
}
.header-main #menu-icon {
  font-size: 3.6em;
  color: var(--text-main-light);
  display: none;
}
.header-main .logo {
  font-size: 25px;
  color: var(--text-main-light);
  text-decoration: none;
  font-weight: 400;
}
.header-main .navbar-header a {
  font-size: 18px;
  color: var(--text-main-light);
  text-decoration: none;
  font-weight: 400;
  margin-left: 35px;
  transition: 0.3s;
}
.header-main .navbar-header a:hover {
  color: var(--main-color);
}
.header-main .navbar-header img {
  height: 22px;
}
.header-main .navbar-header button {
  margin-left: 35px;
  height: 22px;
  background-color: var(--background-main-dark);
}
.header-main .navbar-header button:hover {
  cursor: pointer;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
.home-content h3 span {
  color: var(--main-color);
}
.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
.home-content p {
  font-style: italic;
  font-size: 1.6rem;
  margin-right: 20vw;
}
.home-content .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}
.home-content .social-media a:hover {
  background: var(--main-color);
  color: var(--background-second-dark);
  box-shadow: 0 0 1rem var(--main-color);
}
.home-content .btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 0.4rem var(--main-color);
  font-size: 1.6rem;
  color: var(--background-second-dark);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}
.home-content .btn:hover {
  box-shadow: none;
}

.home-image img {
  width: 30vw;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-second-dark);
}
.about .about-img img {
  width: 35vw;
}
.about .about-content .heading {
  padding-left: 11vw;
  font-size: 5.5em;
  color: var(--main-color);
}
.about .about-content p {
  font-size: 2rem;
  padding: 0 10% 0 10vw;
  margin: 2rem 0 3rem;
}

.skills .skills-text {
  text-align: center;
  color: var(--main-color);
  font-size: 1.6rem;
}
.skills .languages {
  display: flex;
  justify-content: space-between;
  padding: 10vh 0;
}
.skills .languages .img-language img {
  width: 7vw;
}
.skills .container-habilities {
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  flex-direction: column;
}
.skills .container-habilities input[type=radio] {
  display: none;
}
.skills .container-habilities .habilities {
  position: relative;
  display: flex;
  margin-top: 8vh;
  border-radius: 10px;
  justify-content: center;
}
.skills .container-habilities .habilities .habilitie {
  position: absolute;
  transition: 0.3s;
  cursor: pointer;
  width: 25vw;
  padding: 2vh 2vw;
  height: 28vh;
  background-color: var(--background-second-dark);
}
.skills .container-habilities .habilities .habilitie h3 {
  font-size: 1.6rem;
  color: var(--main-color);
  text-align: center;
}
.skills .container-habilities .habilities .habilities-content {
  height: 85%;
  width: 100%;
  margin-top: 5vh;
  display: flex;
}
.skills .container-habilities .habilities .habilities-content img {
  height: 14vh;
}
.skills .container-habilities .habilities .habilities-content p {
  padding-left: 1vw;
  font-size: 1.3rem;
  text-align: left;
}
.skills #item-1:checked ~ .habilities #card-4,
.skills #item-2:checked ~ .habilities #card-1,
.skills #item-3:checked ~ .habilities #card-2,
.skills #item-4:checked ~ .habilities #card-3 {
  transform: translateX(-100%) scale(0.8);
  z-index: 0;
}
.skills #item-1:checked ~ .habilities #card-2,
.skills #item-2:checked ~ .habilities #card-3,
.skills #item-3:checked ~ .habilities #card-4,
.skills #item-4:checked ~ .habilities #card-1 {
  transform: translateX(100%) scale(0.8);
  z-index: 0;
}
.skills #item-1:checked ~ .habilities #card-1,
.skills #item-2:checked ~ .habilities #card-2,
.skills #item-3:checked ~ .habilities #card-3,
.skills #item-4:checked ~ .habilities #card-4 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}
.skills #item-1:checked ~ .habilities #card-1,
.skills #item-2:checked ~ .habilities #card-2,
.skills #item-3:checked ~ .habilities #card-3,
.skills #item-4:checked ~ .habilities #card-4 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.projects h2 {
  font-size: 1.9em;
  text-align: center;
  margin-bottom: 4rem;
  color: var(--main-color);
}
.projects .portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.projects .portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  box-shadow: 0 0 1rem rgba(12, 13, 19, 0.4);
}
.projects .portfolio-container .portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}
.projects .portfolio-container .portfolio-box:hover img {
  transform: scale(1.1);
  opacity: 0.7;
}
.projects .portfolio-container .portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}
.projects .portfolio-container .portfolio-box .portfolio-layer {
  position: absolute;
  color: var(--text-main-dark);
  text-shadow: 0px 0px 1.5rem var(--text-main-light);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color) 120%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transition: 0.5s ease;
  transform: translateY(100%);
}
.projects .portfolio-container .portfolio-box .portfolio-layer h4 {
  font-size: 3rem;
}
.projects .portfolio-container .portfolio-box .portfolio-layer p {
  font-size: 1.9rem;
  margin: 0.3rem 0 1rem;
}
.projects .portfolio-container .portfolio-box .portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-main-dark);
  border-radius: 50%;
}
.projects .portfolio-container .portfolio-box .portfolio-layer a i {
  font-size: 2rem;
  color: var(--text-main-light);
}

.footer {
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-main-dark);
  z-index: 100;
}
.footer a {
  font-size: 2.2rem;
  color: var(--text-main-light);
  text-decoration: none;
  transition: 0.3s;
}
.footer a:hover {
  color: var(--main-color);
}
.footer i {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  color: var(--text-main-light);
}

/*# sourceMappingURL=style.css.map */
