$background-main-dark: #19191C;
$background-second-dark:#252529;
$background-main-light: #e4e4e4;
$background-second-light: #c4c4c4;
$text-main-light: #ececec;
$text-main-dark: #0f0f0f;
$main-color: #4fb6d7;
