.footer{
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-main-dark;
  z-index: 100;
  
  a{
    font-size: 2.2rem;
    color: $text-main-light;
    text-decoration: none;
    transition: .3s;

    &:hover{
      color: $main-color;
    }
  }


  i{
    font-size: 3.5rem;
    margin-bottom: 2rem;
    color: $text-main-light;
  }
}