.skills{

  .skills-text{
    text-align: center;
    color: $main-color;
    font-size: 1.6rem;
  }

  .languages{
    display: flex;
    justify-content: space-between;
    padding: 10vh 0;

    .img-language img{
        width: 7vw;   
    }
  }

  .container-habilities{
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    flex-direction: column;
    input[type=radio]{
      display: none;
    }
    .habilities{
        position: relative;
        display: flex;
        margin-top: 8vh;
        border-radius: 10px;
        justify-content: center;

        .habilitie{
          position: absolute;
          transition: 0.3s;
          cursor: pointer;
          width: 25vw;
          padding: 2vh 2vw;
          height: 28vh;
          background-color: $background-second-dark;

          h3{
              font-size: 1.6rem;
              color: $main-color;
              text-align: center;
          }
        }
        .habilities-content{
          height: 85%;
          width: 100%;
          margin-top: 5vh;
          display: flex;

          img{
            height: 14vh
          }
          p{
            padding-left: 1vw;
            font-size: 1.3rem;
            text-align: left;
          }
        }
      }
  }
      #item-1:checked ~ .habilities #card-4,
      #item-2:checked ~ .habilities #card-1,
      #item-3:checked ~ .habilities #card-2,
      #item-4:checked ~ .habilities #card-3 {
        transform: translateX(-100%) scale(0.8);
      z-index: 0;
      }

      #item-1:checked ~ .habilities #card-2,
      #item-2:checked ~ .habilities #card-3,
      #item-3:checked ~ .habilities #card-4,
      #item-4:checked ~ .habilities #card-1 {
        transform: translateX(100%) scale(0.8);
        z-index: 0;
      }

      #item-1:checked ~ .habilities #card-1,
      #item-2:checked ~ .habilities #card-2,
      #item-3:checked ~ .habilities #card-3,
      #item-4:checked ~ .habilities #card-4 {
        transform: translateX(0) scale(1);
        opacity: 1;
        z-index: 1;
      }

      #item-1:checked ~ .habilities #card-1,
      #item-2:checked ~ .habilities #card-2,
      #item-3:checked ~ .habilities #card-3,
      #item-4:checked ~ .habilities #card-4 {
        transform: translateX(0) scale(1);
        opacity: 1;
        z-index: 1;
      }
}

